.footer {
    background-image: url('../../../../assets/img/footer.png'); 
    color: #A65005; 
    text-align: center;
    padding: 1rem; 
    background-size: cover;
    background-position: center;
  }
  
  